.pagina {
    display: grid;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-rows: 100px 100vh;
    grid-template-columns: auto;

    background-color: #fdfdfd;
    font-family: 'Ubuntu', sans-serif;
}

.cabecalho {
    grid-area: cabecalho;
}

.conteudo {
    grid-area: conteudo;
}

.color-loteria {
    opacity: 0.8;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.img-fundo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}